@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 180, 16, 61;
  --background-end-rgb: 245, 210, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('https://i.imgur.com/lG5lnQo.png') no-repeat center center fixed;
  background-size: auto;
}

@media (min-width: 1024px) {
  body {
    background-size: cover;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
